.submit-btn:hover {
  opacity: 0.9;
}

input,
select {
  background-color: transparent !important;
  color: white !important;
  border-color: #6c757d !important;
}

.bg-update-header {
  background-color: #41474c !important;
}

.hide-dropdown-caret.dropdown-toggle:after {
  content: none;
}
