@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-tabs .nav-item {
  display: inline;
  border: none !important;
  padding-left: 0px;
  color: black;
}

.nav-link {
  color: #6c757d !important;
}

.nav-link:hover {
  color: black !important;
}

.nav-link.active {
  color: black !important;
}

/* .nav-link a {
  color: #6c757d !important;
}

.nav-link a:hover {
  color: black !important;
} */

/* .nav-link a:active {
  color: black !important;
} */

#controlled-tab-example-tabpane-work {
  margin-top: 0px;
}

.vertical-timeline {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.vertical-timeline::before {
  width: 2px;
  left: 22px !important;
  background: rgba(0, 0, 0, 0.125) !important;
}

.vertical-timeline-element-date {
  padding: 0px !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
}

.vertical-timeline-element-icon svg {
  height: 30px !important;
  width: 30px !important;
  margin-top: -15px;
}

.vertical-timeline-element-content-arrow {
  border-right-color: rgba(0, 0, 0, 0.125) !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.list-group-flush .list-group-item:first-child {
  border-top-width: 1px !important;
}

.blah {
  word-wrap: no-wrap;
}

.badge-pill {
  border: 1px solid black;
  cursor: pointer;
}
.badge-pill:hover {
  background-color: black;
  color: white;
}
.badge-pill.active {
  cursor: default;
}
.badge-pill.active:hover {
  background-color: transparent;
  color: black;
}

.badge-transparent {
  background-color: white;
  color: black;
  font-weight: normal !important;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  height: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-body {
  background-color: transparent !important;
}

.card-footer {
  background-color: transparent !important;
}

.card {
  background-color: rgba(0, 0, 0, 0.04) !important;
  border: none !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}
a:hover {
  color: #007bff !important;
}

button:focus {
  box-shadow: none !important;
}
/* @keyframes fadeColors {
  0% {
    background-color: red;
  }
  10% {
    background-color: blue;
  }
  20% {
    background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  50% {
    background-color: purple;
  }
  60% {
    background-color: brown;
  }
  70% {
    background-color: turquoise;
  }
  80% {
    background-color: magenta;
  }
  90% {
    background-color: teal;
  }
  100% {
    background-color: gold;
  }
}

#thingy {
  background-color: white;
  animation-name: fadeColors;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  -webkit-animation-name: fadeColors;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
} */
